{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% block title %}
    <title>projet</title>
    {% endblock title %}

    <meta name="description" content="Tool to alayse and visualize your data" />

    {% block styles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %} {% block style %} {% endblock style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
  

  <body>
    <!-- Navigation -->
    <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg custom-navbar">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">
                  <i class="fas fa-chart-line me-2"></i>
                  Analyse Statistique
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a class="nav-link {% if request.resolver_match.url_name == 'dataframe' %}active{% endif %}" href="{% url 'df' %}">
                              <i class="fas fa-table me-1"></i>
                              DataFrame
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {% if request.resolver_match.url_name == 'probability' %}active{% endif %}" href="{% url 'laws' %}">
                              <i class="fas fa-calculator me-1"></i>
                              Probabilités
                          </a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'graphics' %}active{% endif %}" href="{% url 'graphics' %}">
                                <i class="fas fa-chart-bar me-1"></i>
                                Graphiques
                            </a>
                        </li>
                  </ul>
              </div>
          </div>
      </nav>
    {% block content %} {% endblock content %} 
  </body>
</html>
