{% extends '../base/base.html' %} {% load static %} {% block style %}
<link href="{% static 'css/upload.css' %}" rel="stylesheet" />
<script src="{% static 'js/upload.js' %}" defer></script>


{% endblock style %} {% block content %}
<div class="upload__container">
  <form
    class="form__upload"
    action="{% url 'df_upload' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <p class="form__paragraph">choose the concerned file csv or excel :</p>
    <input
      type="file"
      id="csv_file"
      name="csv_file"
      accept=".csv, .xls, .xlsx"
    />
    <button class="btn btn-success mt-2" class="bt1" type="submit">Show Table</button>
  </form>

  {% if df %}

  <div class="card1 ms-2">
    <h2>Form</h2>
    <form
      method="post"
      action="{% url 'df_search' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <select
        class="form-select mb-3"
        id="parcourir_chart"
        name="parcourir_chart"
      >
        <option value="Nothing">-</option>
        <option value="FindElem">Find an element</option>
        <option value="Slicing">Slicing the table</option>
      </select>

      <select class="form-select mb-3" id="col_name1" name="col_name1">
        {% for col in cols %}
        <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
      </select>

      <input
        class="form-control mb-3"
        type="number"
        placeholder="Le numero de la ligne :"
        id="RowNumb"
        name="RowNumb"
        min="0"
        max="{{ max_row }}"
        step="1"
      />

      <select
        class="form-select mb-3"
        id="parcourir_rows"
        name="parcourir_rows"
      >
        <option value="Nothing">Browse rows</option>
        <option value="NbrOfRowsTop">Number of rows from the top</option>
        <option value="NbrOfRowsBottom">Number of rows from the bottom</option>
        <option value="FromRowToRow">From x row to y row</option>
      </select>

      <input
        class="form-control mb-3"
        type="number"
        placeholder="Number of rows starting from the Top"
        id="Head"
        name="Head"
        min="0"
        max="{{ max_row }}"
        step="1"
      />

      <input
        class="form-control mb-3"
        type="number"
        placeholder="Number of rows starting from the Bottom"
        id="Tail"
        name="Tail"
        min="0"
        max="{{ max_row }}"
        step="1"
      />

      <input
        class="form-control mb-3"
        type="number"
        placeholder="From row number "
        id="FromRowNumb"
        name="FromRowNumb"
        min="0"
        max="{{ max_row }}"
        step="1"
      />

      <input
        class="form-control mb-3"
        type="number"
        placeholder="To the row number "
        id="ToRowNumb"
        name="ToRowNumb"
        min="0"
        max="{{ max_row }}"
        step="1"
      />

      {% for col in cols %}
      <div class="form-check form-check-inline" id="colonne">
        <input
          class="form-check-input"
          type="checkbox"
          name="selected_columns"
          value="{{ col }}"
          id="{{ col }}"
        />
        <label class="form-check-label" for="{{ col }}"> {{ col }} </label>
      </div>
      {% endfor %}

      <button class="btn btn-success" type="submit">Submit</button>
      <hr>
    </form>
    <div class="specific-search-result">
      {% if resultat is not None %}
      <h3>Résultat :</h3>
      <p>{{ resultat }}</p>
      {% endif %}
    </div>
  </div>
  <!--

  <form
    class="form__selects"
    method="get"
    action="{% url 'df_search' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <p class="form__paragraph">choose the line and the column :</p>
    <select name="methode" id="methode">
      <option value="Indexation">Indexation</option>
      <option value="Slicing">Slicing</option>
    </select>
    <input
      type="number"
      name="line1"
      id="line1"
      class="form-control"
      placeholder="From line ..."
    />
    <input
      type="number"
      class="form-control"
      name="line2"
      id="line2"
      placeholder="To line .... "
    />
    <button class="btn btn-primary" type="submit">Search</button>
    {% if search_result %}{{ search_result }}{% endif %}
  </form> -->

  {% endif %}
  <div class="image__container">
    <div class="scrollable-table">
      {% if df %}
      <!-- Use the safe filter to render HTML -->
      {{ df|safe }} {% else %}
      <p>No DataFrame available</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Cacher les listes déroulantes au chargement initial de la page
    $(
      "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne"
    ).hide();

    $("#parcourir_chart").change(function () {
      var selected_chart = $(this).val();
      console.log(selected_chart); // Vérifier la valeur sélectionnée dans la console

      if (selected_chart === "FindElem") {
        $(
          "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne"
        ).hide();
        $("#col_name1, #RowNumb").show();
      } else if (selected_chart === "Slicing") {
        $(
          "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne"
        ).hide();
        $("#parcourir_rows").show();

        $("#parcourir_rows").change(function () {
          var selected_chart_rows = $(this).val();
          console.log(selected_chart_rows);
          if (selected_chart_rows === "NbrOfRowsTop") {
            $(
              "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne"
            ).hide();
            $("#Head ,#colonne").show();
          } else if (selected_chart_rows === "NbrOfRowsBottom") {
            $(
              "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne"
            ).hide();
            $("#Tail , #colonne").show();
          } else if (selected_chart_rows === "FromRowToRow") {
            $(
              "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne"
            ).hide();
            $("#FromRowNumb,#ToRowNumb , #colonne").show();
          }
        });
      } else if (selected_chart === "GroupBy") {
        // Si aucune sélection n'est faite ou si la sélection est par défaut
        $(
          "#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb"
        ).hide(); // Cacher les deux listes déroulantes
      }
    });
  });
</script>
{% endblock content %}
