{% extends "../base/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/law.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock style %}

{% block content %}
<div class="home__container">
    <p>Choisissez votre type de graphique :</p>
    <div class="home__cards">
        <ul class="card__list">
            <li class="card__item">
                <a href="{% url 'barplot' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-chart-bar"></i>
                            <h5 class="card-title">Barplot</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card__item">
                <a href="{% url 'lineplot' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-chart-line"></i>
                            <h5 class="card-title">Lineplot</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card__item">
                <a href="{% url 'scatterplot' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-dot-circle"></i>
                            <h5 class="card-title">Scatterplot</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card__item">
                <a href="{% url 'piechart' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-chart-pie"></i>
                            <h5 class="card-title">Piechart</h5>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Nouveaux graphiques -->
            <li class="card__item">
                <a href="{% url 'histogram' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-chart-area"></i>
                            <h5 class="card-title">Histogramme</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card__item">
                <a href="{% url 'boxplot' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-box"></i>
                            <h5 class="card-title">Box Plot</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card__item">
                <a href="{% url 'heatmap' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-th"></i>
                            <h5 class="card-title">Heatmap</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card__item">
                <a href="{% url 'violin' %}" class="card__link">
                    <div class="graph__card">
                        <div class="icon-title-wrapper">
                            <i class="fas fa-wave-square"></i>
                            <h5 class="card-title">Violin Plot</h5>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}